{% extends 'ventas/base.html' %}

{% block content %}
<h2>Checkout / Cotización</h2>

{% if carrito %}
<p>Confirma tu compra o cotización:</p>

<ul>
  {% for item in carrito %}
  <li>{{ item.cantidad }} × {{ item.producto.nombre }} — ${{ item.subtotal }}</li>
  {% endfor %}
</ul>

<h3>Total a pagar: ${{ total }}</h3>

<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn">Confirmar Pedido</button>
</form>
{% else %}
<p>No hay productos en el carrito.</p>
{% endif %}
{% endblock %}
